astroid==1.6.5
backports-abc==0.5
backports.functools-lru-cache==1.5
certifi==2019.9.11
configparser==4.0.2
cycler==0.10.0
decorator==4.4.1
enum34==1.1.6
functools32==3.2.3.post2
futures==3.3.0
geopandas==0.7.0
geovoronoi==0.2.0
isort==4.3.21
intervals==0.8.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==2.2.3
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numpy==1.22.0
pandas==0.24.2
pgmpy==0.1.9
ppandas==0.0.1.5
pylint==1.9.2
pyparsing==2.4.4
python-dateutil==2.8.1
pytz==2019.3
Rtree==0.9.4
scipy==1.2.1
shapely==1.6.4
singledispatch==3.4.0.3
six==1.13.0
subprocess32==3.5.4
tornado==5.1.1
wrapt==1.11.2
